body {
	font: 16px/28px arial, sans-serif;
	background-color: #f5deb3;
	
}
.container {
	width: 800px;
	height: 700px;
	margin: auto;
	background-image: url('1.jpeg')
}
.header{
	padding: 20px;
	
}
.img img{
	width:150px;
	border-radius: 60%;
}
}
.header ul li {
	display: inline-block;
	margin-top: 20px;
	margin-right: 15px;
	margin-left: 20px;
}
menu {
   width: 600px;
   height: 40px;
   padding: 10px;
   margin-top: -140px;
   float: left;
}
menu li {
   list-style: none;
   font-size: 20px;
   float: left;
   margin-right: 40px;
   margin-top: 5px;
   color: #fff;
}
menu li a {
   text-decoration: none;
   color: #fff;
   font-size: 20px;
   font-family: Cambria;

}
menu li a:hover {
   color: orange;
   width: 600px;
   height: 40px;
   background-color: #00FAAB;
   border-radius:5px;
   padding: 10px;
   margin-top: 5px;
}
.form{
   background-color:#fed5b3;
   margin: auto;
   height: 190px;
   width: 450px;
   margin-left: 200px;
   margin-top:-60px;
   margin-bottom: 20px;
   border-radius: 20px;
   font-family: Brush Script MT;
}


label{
   padding-right: 60px;
   text-decoration: none;
   text-align: inherit;
   margin-left:20px;
   font-size: 25px;
}
td input[type="text"], input[type="number"], input[type="email"] {
  width: 100%;
  float: right;
  padding: 10px 5px;
  margin: 6px 40px;

}
.header a {
	text-decoration: none;
	color: salmon;
	padding: 5px;
	font-family: "Courier New", Courier, monospace; 
}
.header a:hover {
	background-color: black; 
	color: white ;
}
div.pesan {
	height: 290px;
	width: 720px;
	margin: auto;
	background-color:rgb(251,160,122);
	border-radius:8px;
}
.makanan {
  margin: 10px;
  float: left;
  width: 160px;
  height: 120px;
}
.makanan img {
	width: 150px;
	height: 150px;
	border-radius: 20%;
}

.tentang {
	font-family: Garamond;
	height: 400px;
	width: 620px;
	margin: auto;
	background-color:rgb(251,160,122);
	border-radius:8px;}
p {
	font-size: 150%;
}
ol li{
	font-size: 200%;

}
tr td a img{
	height:50px;
	width:50px;
	margin-top: 30px;
	margin-left: 20px;
	border-radius: 50px;
}
